body{
    background-color:pink;
}
img {border-radius: 50%;}
h1{color: rgb(16, 174, 195);}
h3{color:rgb(24, 154, 230)}
.dot {
    height: 15px;
    width: 15px;
    background-color: rgb(81, 83, 83);
    border-radius: 50%;
    display: inline-block;
  }
  #vještine{ width: 70%;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 15px 0px 10px 6px;
    margin: 15px 0px 10px 6px;
    border: 2px dashed rgb(161, 161, 161);
    margin-right: 10px;
    margin-bottom: 10px;
    border: 6px ridge black;
}
.tablica {
    border: 2px solid ;
    border-color: rgb(1, 1, 49);
    border-collapse: collapse;
  }
  #poveznice {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
  }# Antonija5.github.io
